{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 title-col paragraph-margin">
        <p>We have emailed you instructions for resetting your password to your e-mail address.</p>
        <p>You should receive it shortly.</p>
    </div>
</div>
<div class="row link-col">
    <div class="col-12 col-lg-4 offset-lg-4">
        <form>
            <button class="btn btn-success"  id="btn-home" formaction="{% url 'index' %}">Back to home</button>
        </form>
    </div>
</div>

{% endblock %}