{% extends "base.html" %} {% block title %}Password reset complete{% endblock %} {% block content %}

<!--Page title-->
<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Password reset complete</h5>
        <hr>
    </div>
    <!--User information-->
    <div class="col-12 title-col" id="password-reset-text">
        <p>You have successfully reset your password!</p>
    </div>
    <!--Login button-->
    <div class="col-12 title-col">
        <form>
            <button class="btn btn-success" id="btn-info" formaction="{% url 'login' %}">Log-in</button>
        </form>
    </div>
</div>
{% endblock %}