{% extends "base.html" %} {% block title %}Setting New password{% endblock %} {% block content %}

<!--Page title-->
<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Please enter your new password</h5>
        <hr>
    </div>
</div>
<!--Password reset form-->
{% if validlink %}
<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 title-col">
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="col-12 confirm-password-margin">
                <label for="id_new_password1">New password</label>
            </div>
            <div class="col-12 confirm-password-margin">
                {{ form.new_password1 }}
            </div>
            <div class="col-12 confirm-password-margin">
                <label for="id_new_password2">Confirm password</label>
            </div>
            <div class="col-12 confirm-password-margin">
                {{ form.new_password2 }}
            </div>
            <!--Submit password reset button-->
            <div class="col-12 confirm-password-button">
                <input class="btn btn-success" id="btn-add" type="submit" value="Change my password" /></td>
            </div>
            <p>{{ form.new_password1.errors }}<br><br>{{ form.new_password2.errors }}<br></p>
        </form>
    </div>
</div>
{% else %}
<!--If reset not successful-->
<div class="row">
    <div class="col-12 title-col" id="password-reset-text">
        <p> Password reset unsuccessful, the link may be invalid.<br><br> Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.</p>
    </div>
</div>
{% endif %} 
{% endblock %}
