{% extends "base.html" %} {% block title %}Setting New password{% endblock %} {% block content %} 
<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Please enter your new password</h5>
        <hr>
    </div>
</div>    
{% if validlink %}
<div class="row">
    <div class="col-6 offset-3 title-col">
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td class="td-margin">
                        <label for="id_new_password1">New password:</label></td>
                    <td class="td-margin">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="td-margin">
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td class="td-margin">{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-success" id="btn-add" type="submit" value="Change my password" /></td>
                </tr>
            </table>
            <p>{{ form.new_password1.errors }}<br><br>{{ form.new_password2.errors }}<br></p>
        </form>
    </div>
</div>
    {% else %}
<div class="row">
    <div class="col-12 title-col" id="password-reset-text">
        <p> Password reset unsuccessful, the link may be invalid.<br><br> Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.</p>
    </div>
</div>
{% endif %} {% endblock %}
