{% extends "base.html" %} {% block title %}Setting New password{% endblock %} {% block content %} {% if validlink %}
<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Please enter your new password</h5>
        <hr>
    </div>
    <div class="col-6 offset-3 title-col">
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td class="td-margin">
                        <label for="id_new_password1">New password:</label></td>
                    <td class="td-margin">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="td-margin">
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td class="td-margin">{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-success" type="submit" value="Change my password" /></td>
                </tr>
            </table>
            <p>{{ form.new_password1.errors }}<br>{{ form.new_password2.errors }}<br></p>
        </form>
    </div>
    {% else %}
    <div class="col-12 title-col">
        <h6>Password reset unsuccessful</h6>
        <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
    </div>
</div>
{% endif %} {% endblock %}
