{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-12 title-col paragraph-margin-home">
    <p> Welcome to GymStuff, here you will find the best in home gym equipment and accesories alongside a variety of nutrition products to help you achieve your fitness goals. Stay motivated!</p>
    </div>
</div>    

<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Weight Products</h5>
        <hr>
    </div>
    {% if weights %} 
    {% for product in weights %}
    <div class="col-4 product-col">

        <div class="card">
            <div class="card-header">
                <h5>{{ product.name }}</h5>
            </div>
            <div class="img-container">
                <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.short_description}}</li>
                    <li class="list-group-item">&euro; {{ product.price }}</li>
                    <li class="list-group-item"><a href="{% url 'product' product.id %}">View product</a></li>
                </ul>

            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <div class="col-12 title-col">
        <p>Sorry, no products are available.</p>
    </div>
    {% endif %}
    {% if weights %}
    <div class="col-12 link-col">
        <form>
            <button class="btn btn-success" formaction="{% url 'weight_search' %}">All weight products</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Rack & Bench Products</h5>
        <hr>
    </div>
    {% if benches %} 
    {% for product in benches %}
    <div class="col-4 product-col">

        <div class="card">
            <div class="card-header">
                <h5>{{ product.name }}</h5>
            </div>
            <div class="img-container">
                <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.short_description}}</li>
                    <li class="list-group-item">&euro; {{ product.price }}</li>
                    <li class="list-group-item"><a href="{% url 'product' product.id %}">View product</a></li>
                </ul>

            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <div class="col-12 title-col">
        <p>Sorry, no products are available.</p>
    </div>
    {% endif %}
    {% if benches %}
    <div class="col-12 link-col">
        <form>
            <button class="btn btn-success" formaction="{% url 'bench_search' %}">All rack and bench products</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Accesories</h5>
        <hr>
    </div>
    {% if accessory %} 
    {% for product in accessory %}
    <div class="col-4 product-col">

        <div class="card">
            <div class="card-header">
                <h5>{{ product.name }}</h5>
            </div>
            <div class="img-container">
                <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.short_description}}</li>
                    <li class="list-group-item">&euro; {{ product.price }}</li>
                    <li class="list-group-item"><a href="{% url 'product' product.id %}">View product</a></li>
                </ul>

            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <div class="col-12 title-col">
        <p>Sorry, no products are available.</p>
    </div>
    {% endif %}
    {% if accessory %}
    <div class="col-12 link-col">
        <form>
            <button class="btn btn-success" formaction="{% url 'accessory_search' %}">All accesories</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Supplements</h5>
        <hr>
    </div>
    {% if supplements %} 
    {% for product in supplements %}
    <div class="col-4 product-col">

        <div class="card">
            <div class="card-header">
                <h5>{{ product.name }}</h5>
            </div>
            <div class="img-container">
                <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.short_description}}</li>
                    <li class="list-group-item">&euro; {{ product.price }}</li>
                    <li class="list-group-item"><a href="{% url 'product' product.id %}">View product</a></li>
                </ul>

            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <div class="col-12 title-col">
        <p>Sorry, no products are available.</p>
    </div>
    {% endif %}
    {% if supplements %}
    <div class="col-12 link-col">
        <form>
            <button class="btn btn-success" formaction="{% url 'supplement_search' %}">All supplements</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Vitamins</h5>
        <hr>
    </div>
    {% if vitamins %} 
    {% for product in vitamins %}
    <div class="col-4 product-col">

        <div class="card">
            <div class="card-header">
                <h5>{{ product.name }}</h5>
            </div>
            <div class="img-container">
                <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.short_description}}</li>
                    <li class="list-group-item">&euro; {{ product.price }}</li>
                    <li class="list-group-item"><a href="{% url 'product' product.id %}">View product</a></li>
                </ul>

            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <div class="col-12 title-col">
        <p>Sorry, no products are available.</p>
    </div>
    {% endif %}
    {% if vitamins %} 
    <div class="col-12 link-col">
        <form>
            <button class="btn btn-success" formaction="{% url 'vitamin_search' %}">All vitamins</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}