{% extends 'base.html' %} {% block content %}

{% if products %}
<div class="row row-flex">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.short_description}}</p>
            <p>{{ product.price }}</p>
            <form>
                <button class="btn btn-primary" formaction="{% url 'product' product.id %}">View product info</button>
            </form>
        </div>
    </div>
    {% endfor %}
        {% else %}
        <p>No reviews are available.</p>
         <a class="navbar-brand" href="{% url 'index' %}">view other products</a>
        {% endif %}
</div>
{% endblock %}