{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<!--Product name as title-->
<div class="row product-col">
    <div class="col-12 product-title-col">
        <hr>
        <h1>{{ product.name }}</h1>
        <hr>
    </div>
    <!--Product image-->
    <div class="col-6 offset-3">
        <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
    </div>
</div>
<hr>
<div class="row">
    <!--Product description-->
    <div class="col-12 col-md-5 offset-md-1 product-no-padding">
        <div class="col-12 product-info">
            <h4>Description</h4>
        </div>
        <div class="col-12 product-description product-info">
            <p>{{ product.description }}<p>
        </div>
    </div>
    <!--Product price-->
    <div class="col-12 col-md-3 offset-md-1 product-no-padding">
        <div class="col-12 product-info">
            <h4>Price</h4>
        </div>
        <div class="col-12 product-description product-info">
            <p>&pound; {{ product.price }}</p>
        </div>
    </div>
</div>

<div class="row product-col">
    <!--Add to cart form-->
    <div class="col-10 offset-1 col-lg-5 offset-lg-1 product-no-padding">
        <form method="post" action="{% url 'add_to_cart' id=product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder='Quantity'>
                <span class="input-group-btn">
                    <button class="btn btn-danger" id="btn-add" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
    <!--See product reviews button-->
    <div class="col-10 offset-1 col-lg-5 offset-lg-1 product-no-padding product-align-left">
        <form>
            <button class="btn btn-info" id="btn-info" formaction="{% url 'customer_reviews' id=product.id %} ">View product reviews</button>
        </form>
    </div>
</div>
<!--Submit product review form-->
<hr class="line-padding"> {% if user.is_authenticated %}
<div class="row product-col">
    <div class="col-12">
        <h5>Review this product</h5>
    </div>
    <!--Show review form button-->
    <div class="col-12">
        <button class="btn btn-info" id="btn-review">Add review</button>
    </div>
</div>
<!--Review form-->
<div class="row product-col hide" id="review-form">
    <div class="col-10 offset-1 col-lg-4 offset-lg-4 product-title-col">
        <form action="{% url 'new_review' product.id %}" method="post">
            <!--form for review-->
            {% csrf_token %} {{ form | as_bootstrap }}
            <!--Submit review button-->
            <input class="btn btn-info add-review-btn" id="btn-add" type="submit" value="Submit review" />
        </form>
    </div>
</div>
<hr class="line-padding"> 
{% endif %}
<!--View similar products button-->
<div class="row link-col">
    <div class="col-12 col-lg-4 offset-lg-4">
        <form>
            <button class="btn btn-success" id="btn-home" formaction="{% url 'similar_products' product.id %}">View similar products</button>
        </form>
    </div>
</div>
{% endblock %}
