{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="row product-col">
    <div class="col-12 product-title-col">
        <hr>
        <h1>{{ product.name }}</h1>
        <hr>
    </div>
    <div class="col-6 offset-3">
        <img class="card-img-top product-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Image unavailable">
    </div>
</div>

<hr>

<div class="row product-view-col">
    <div class="col-5 offset-1">
        <div class="col-12 product-info">
        <h4>Description</h4>
        </div>
        <div class="col-12 product-description product-info">
        <p>{{ product.description }}<p>
        </div>
    </div>   
    
        <div class="col-3 offset-1">
        <div class="col-12">
        <h4>Price</h4>
        </div>
        <div class="col-12">
        <p>&pound; {{ product.price }}</p>
        </div>
    </div>
</div>
    
<div class="row product-col">
    <div class="col-4 offset-1">
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder='Quantity'>
                <span class="input-group-btn">
                    <button class="btn btn-danger" id="btn-add" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-5 offset-1">

        <form>
            <button class="btn btn-info" id="btn-info" formaction="{% url 'customer_reviews' id=product.id %} ">View product reviews</button>
        </form>
    </div>
</div>

<hr class="line-padding">
{% if user.is_authenticated %}
    <div class="row product-col">
        <div class="col-12">
            <h5>Review this product</h5>
        </div>
        <div class="col-12">
        <button class="btn btn-info" id="btn-review">Add review</button>
        </div>
    </div>
    <div class="row product-col hide" id="review-form">
        <div class="col-4 offset-4  product-title-col">
            <form action="{% url 'new_review' product.id %}" method="post">
                {% csrf_token %} {{ form | as_bootstrap }}
                <input class="btn btn-info add-review-btn" id="btn-add" type="submit" value="Submit review" />
            </form>
        </div>
    </div>
    <hr class="line-padding">
    {% endif %}


<div class="row link-col">
    <div class="col-4 offset-4">
        <form>
            <button class="btn btn-success"  id="btn-home" formaction="{% url 'index' %}">Back to home</button>
        </form>
    </div>
</div>

{% endblock %}

