body {
  background-color: white;
  height: 100%;
  width: 100%; 
  background-image: url("https://images.pexels.com/photos/39671/physiotherapy-weight-training-dumbbell-exercise-balls-39671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; } 

.page-content {
  border:none !important;
  background-color: white;
  font-family: 'PT Serif';
  margin-top: 0px;
  margin-bottom: 0px; }
  @media (min-width: 768px) {
    .page-content {
      border: 2px solid #f8f9fa;
      margin-top: 50px;
      margin-bottom: 50px; } 

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


/*Navbar*/
.navbar-brand {
    width: 40%;
    font-size: 30px;
    padding-left:10px;
}

.navbar-dark .navbar-brand {
    color: #17a2b8;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* Alerts */

 .alert .alert-success .messages{
    background-color: #17a2b8;
    border-color: #17a2b8;
}