body {
  background-color: white;
  height: 100%;
  width: 100%; 
  background-image: url('https://images.pexels.com/photos/669582/pexels-photo-669582.jpeg?cs=srgb&dl=pexels-lukas-669582.jpg&fm=jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; } 

.page-content {
  border:none !important;
  background-color: white;
  font-family: 'PT Serif';
  margin-top: 0px;
  margin-bottom: 0px; }
  @media (min-width: 768px) {
    .page-content {
      border: 2px solid #f8f9fa;
      margin-top: 50px;
      margin-bottom: 50px; } 

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    background-color:#343a40;
}


/*Navbar*/
.navbar-brand {
    width: 40%;
    font-size: 30px;
    padding-left:10px;
}

.navbar-dark .navbar-brand {
    color: #17a2b8;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* Alerts */

 .alert .alert-success .messages{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

  }

.img-container{
    height:50%;
}  

.cart-img-container {
    height:60%;
}  

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding:10%;
}

.product-info {
    padding:0;
}

.card {
    overflow: hidden;
}

.card-header {
    background-color:#5F9EA0;
    color:#fbfbfb;
}

.title-col {
    height: 10%;
    text-align: center;
    width:90%;
    padding-left:2.5%;
    padding-right:2.5%;
}

.message-col {
    height: 10%;
    text-align: center;
}

.bmi-padding {
    padding-top:3%;
}

.search-col {
    
    margin-top:2%;
}

.product-title-col {
       height: 10%;
    text-align: center;
    width:90%;
    padding-left:2.5%;
    padding-right:2.5%;
    margin-top:4%;
    margin-bottom:2%;
}

.link-col {
    
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-group {
    margin:0;
    padding:0;
}

.paragraph-margin {
    margin-top:5%;
}

.paragraph-margin-home {
    margin-top:5%;
}

.td-margin {
    padding-bottom: 5%;
}
.amend-button {
    margin-top:10%;
    margin-bottom:15%;
}

#password-reset-text {
    padding-top:3%;
}

.product-col {
    
    text-align: center;
}

.latest-review-col {
    
    text-align: center;
    margin-top:4%;
    margin-bottom:2%;
}

.latest-review-review {
    
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
} 


.brand {
    text-align:center;
        margin:0;
        padding:0;
    width:100%;
    padding-top: 1%;
}

.navbar-brand {
    width:100%;
    font-size:80px;
}

.nav-link {
    margin:0;
    padding:0;
    width:20%;
    text-align:center;
}

#navbardrop {
    width:100%;
}

#cart {
    text-align:center;
}

.dropdown-link {
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
}

#navbar-links {
    width:100%;
}

#collapsibleNavbar {
    padding:0;
    width:80%;
    margin-left:18%;
}

#nav-link-container {
    padding-bottom:2%;
}

.search-bar {
    padding-top:3%;
}

#brand{
    color: #fbfbfb;
    margin-right: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}

#brand:hover {
  color:rgba(255,255,255,.5);
}


.card {
    display: inline-block;
    height:550px;
    width: 95%;
}

.card-bottom-margin {
    margin-top:3%;
    margin-bottom:2%;
}

.product-description{
    text-align: justify;
    padding-bottom:5%;
}

#search-button {
    width:100%;
        background-color:#5F9EA0!important;
        border-color:#5F9EA0!important;
        transition: all 0.5s ease-in-out;
}

#search-button:hover {
  opacity:0.9;
}

#btn-info {
    background-color:#5F9EA0!important;
    border-color:#5F9EA0!important;
        transition: all 0.5s ease-in-out;
}

#btn-info:hover {
    opacity:0.9;
}

#btn-home {
    background-color:#556B2F!important;
    border-color:#556B2F!important;
        transition: all 0.5s ease-in-out;
}

#btn-home:hover {
    opacity:0.9;
}

#cart-badge {
    background-color:#B22222!important;
    border-color:#B22222!important;
}

#btn-add {
    background-color:#B22222!important;
    border-color:#B22222!important;
    transition: all 0.5s ease-in-out;
}

#btn-add:hover {
  opacity:0.9;
}

#btn-review {
    margin-top:2%;
    background-color:#5F9EA0!important;
    border-color:#5F9EA0!important;
    transition: all 0.5s ease-in-out;
}

#btn-review:hover {
  opacity:0.9;
}

#submit_payment_btn {
    background-color:#B22222!important;
    border-color:#B22222!important;
    transition: all 0.5s ease-in-out;
}

#submit_payment_btn:hover {
  opacity:0.9;
}

#submit-payment {
    text-align:center;
    padding-top:2%;
}

#cart-card {
    height:500px;
    width:100%;
} 

.cart-card-padding {
    padding-top:5%;
}

a{
    color:#808080;
    transition: 0.5s ease-in-out;
}


a:hover {
    text-decoration: none;
    color:#5F9EA0;
}

.line-padding {
    margin-bottom:4%;
    margin-top:4%;
}

.hide {
    display:none;
}

#bmi-info {
    margin:3% 0;
}

#brand-container {
    padding-top:0;
}
