{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %} 

<!--Insert stripe payment javascript-->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
<!--/static/js/stripe.js-->
{% endblock %} 

{% block content %}
<!-- Checkout page title-->
<div class="row">
    <div class="col-12 title-col">
        <hr>
        <h5>Payment Details</h5>
        <hr>
    </div>
</div>
<!--Create checkout forms-->
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <!--Display error messages-->
    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <!--Display order form-->
    <div class="form-group col-12 col-md-6 offset-md-3">
        {{ order_form | as_bootstrap }}
    </div>
    <!--Display payment form-->
    <div class=" col-12 col-md-6 offset-md-3">
        {{ payment_form | as_bootstrap }}
    </div>
    {% csrf_token %}
    <!--Submit payment button-->
    <div class="form-group  col-12 col-md-6 offset-md-3" id="submit-payment">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}