{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<form method="post" action="{% url 'register' %}" class="accountform">
    <fieldset class="form-group">
        <div class="col-12 message-col">
            <hr>
            <h5>Register</h5>
            <hr>
        </div>
        <div class="col-12 message-col">
            <p>Already got an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
        {% csrf_token %} {{ user_form | as_bootstrap }}
        <div class="col-12 message-col">
            <button type="submit" class="btn btn-info" id="btn-info">Create account</button>
        </div>
    </fieldset>
</form>

{% endblock %}

