{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}
<form action="{% url 'macro_form'  %}" method="post">
    <fieldset class="form-group">
        <div class="col-12 message-col">
            <hr>
            <h5>Macro calculator</h5>
            <hr>
        </div>
        <div class="col-12 message-col"  id='bmi-info'>
            <p>Please enter your height, weight, age, activity level and aim.</p>
        </div>
        {% csrf_token %} {{ form | as_bootstrap }}
        <div class="col-12 message-col">
            <button type="submit" class="btn btn-info" id="btn-info">Calculate</button>
        </div>
    </fieldset>
</form>

{% endblock %}